html {
  font-size: 16px;
    @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $black;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  min-height: rem(650px);
  margin: 0 auto;

  @include tablets {
    height: auto;
    padding: 2rem 0;
}
}

.container {
  max-width: rem(940px);
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablets {
    margin: 0;
  }

}
.contact-phone,
.logo-text {
  color: #ffffff;
  font-family: "AlegreyaSans-Bold";
  font-size: rem(24px);
  font-weight: 400;
  line-height: rem(21px);
  text-transform: uppercase;
  text-decoration: none;
}
.section-title {
  font-size: rem(48px);
  line-height: 1;
  color: #0d0d0d;
  text-transform: uppercase;
  text-align: center;
  font-family: "AlegreyaSans-Bold";
  font-weight: 700;
  margin-bottom: 0;
   @include tablets {
     font-size: rem(40px);
   }
} 

.contact {

  @include tablets {
    display: none;
}
}
// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}
.svg-icon {
  fill: none;
  stroke: #b0f7ff;
  stroke-width: 0.8;
  stroke-miterlimit: 10;
  height: 3rem;
  width: 50%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;

  & > li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}