//color
$blue:#61c4d9;
$gray:#cfdeda;
$black:#000000;
$white:#ffffff;

//setups
@import "css/misc/layout.scss";
@import "css/misc/section-title.scss";
@import "css/misc/fonts.scss";

//normalize
@import "css/misc/normalize.scss";

//blocks
@import "css/blocks/hero.scss";
@import "css/blocks/_header.scss";
@import "css/blocks/menu.scss";
@import "css/blocks/special.scss";
@import "css/blocks/pretty.scss";
@import "css/blocks/_features.scss";
@import "css/blocks/_preview.scss";