//breakponts
$tablets:768px;
$phones:480px;

//color
$blue:#61c4d9;
$gray:#cfdeda;
$black:#000000;
$white:#ffffff;

//setups
@import "dev/css/misc/mixins.scss";
@import "dev/css/misc/layout.scss";
@import "dev/css/misc/fonts.scss";

//normalize
@import "dev/css/misc/normalize.scss";

//blocks
@import "dev/css/blocks/overlay.scss";

@import "dev/css/blocks/hero.scss";
@import "dev/css/blocks/sidebar.scss";
@import "dev/css/blocks/menu_adaptive.scss";
@import "dev/css/blocks/header.scss";
@import "dev/css/blocks/menu.scss";
@import "dev/css/blocks/hamburger-menu.scss";
@import "dev/css/blocks/special.scss";

@import "dev/css/blocks/pretty.scss";
@import "dev/css/blocks/features.scss";

@import "dev/css/blocks/sale.scss";
@import "dev/css/blocks/sale1.scss";

@import "dev/css/blocks/team.scss";

@import "dev/css/blocks/choice.scss";

@import "dev/css/blocks/preview.scss";
@import "dev/css/blocks/avatar_preview.scss";

@import "dev/css/blocks/plaer.scss";

@import "dev/css/blocks/form.scss";

@import "dev/css/blocks/map.scss";
@import "dev/css/blocks/contacts.scss";
