.choice {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url('./img/keksiki.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title__choice {
    text-align: center;
    @include tablets {
        text-align: left;
    }
}
.choice-list {
    position: absolute;
    display: flex;
    right: 0;
    height: 100%;
    margin: 0;
}

.choice-list__item {
    display: inherit;
    width: 57px;
}

.choice-list__item.active {
    width: auto;
}

.choice-list__title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: rgb(57, 56, 56);
    padding: 2rem 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
}

.choice-list__desc {
    background-color: rgb(121, 118, 118);
    width: 0;
    display: none;
}

.choice-list__item.active .block-list__desc {
    width: 450px;
}