.features-icon{
    fill: #b0f7ff;
}
.features__desc {
    text-align: center;
}

.features__pic {
    display: flex;
    justify-content: space-between;
    background-color: #f2f5f4;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: 125px;
}
.features-icon {
    height: 64px;
    margin: auto;
}

.features__tetle {
    color: #000000;
    font-family: "AAlegreya Sans";
    font-size: 27px;
    font-weight: 700;
    align-items: center;
    @include tablets {
        font-size: 18px;
    }
}
.features__text {
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    @include tablets {
        
    }
}
