
.features__desc {
    text-align: center;
}
.features__pic {
    display: flex;
    justify-content: center;
    background-color: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    position: inherit;
    padding: 20px 0;

    @include tablets {
        height: 100%;
    }

}
.features__pic-img {
    width: 70px;
    height: 69px;
   /* &:after {
        content: "";
        display: block;
        background: url('./img/1.png');
        width: 67px;
        height: 21px;
        align-items: center;
    }*/

}
.features__tetle {
    color: #000000;
    font-family: "AAlegreya Sans";
    font-size: 27px;
    font-weight: 700;
    align-items: center;
    @include tablets {
        font-size: 18px;
    }
}
.features__text {
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    @include tablets {
        
    }
}