.pretty {
    position: relative;
    margin:2rem 0;

}
.pretty__picture_position_absolut {
    width: 100%;
    position: absolute;
    center: -4rem;
    text-align: left;
}
.container-pretty {
    content: "";
    @include tablets {
        margin-top: 10em;
    }

}
.pretty-text {
    text-align: center;
    margin-bottom: 15%;
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 500;
    @include tablets {
        font-size: 14px;
    }
}
.pretty__list {
    display: flex;
    align-items: center;

    @include tablets {
        flex-flow: column;
        text-align: center;
        width: 100%;
    }
}

.pretty__item {
    flex: 1;

}
