.preview {
    justify-content: flex-start;
}
.container-preview {
    background: url('./img/reviewyagoda.png');
    background-position: right top;
    background-repeat: no-repeat;
}
.review {
    display: flex;
    background: url('./img/reviewbackground.jpg');
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    margin:2rem 0;
}
.review__pic {
    padding:2rem 2rem;
}
.review__description {
    padding-left: 20px;
    font-family: "Alegreya Sans";
}
.review-desc {
    color: #323232;
    font-size: 30px;
    font-weight: 500;
}
.review-text {
    width: 60%;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}
.review-signature {
    margin-top: 2%;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
}
.preview__photo {
 display: flex;
 justify-content: center;
}
.preview__avatar {
    margin-right: 3%;

    &:last-child {
        margin-right: 0;
    }
}
.border {
    width: 94px;
    height: 94px;
    border: 6px solid #0f5a47;
    border-radius: 50%;
    overflow: hidden;
}