.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('./img/reviewyagoda.png');
  background-repeat: no-repeat;
  background-position: 100% 5%;

}

.container-preview{
  @include phones{
    width: 100%;
    justify-content: flex-start;
  }
}
.preview-picture__position__absolute {
   
  &-sheet{
  position: absolute;
  bottom: rem(-262px);
  left: 0;
  right: 0;
  z-index: 0;
  }
  &-berries{
  position: absolute;
  bottom: rem(-192px);
  left: 0;
  right: 0;
  z-index: 1;
}
}

.preview__title {
  font-weight: 700;
  font-size: rem(48px);
  text-align: center;
  margin-top: rem(30px);
  text-transform: uppercase;
}

.preview__body{
  height: 80%;
  position: relative;
}
.preview__slider {
  position: absolute;
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  margin-top: rem(30px);
  display: flex;
  height: rem(350px);
  width: 100%;
  background-color: #f8faf9;
  background-image: url('./img/branch.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.preview__slider--active{
  display: flex;
  opacity: 1;
  transition: 0.3s ease;
}
.preview__avatars{
  position: absolute;
  bottom: 5%;
  left: 30%;
}

.preview__avatar {
  background-position: center center;
  margin-top: rem(50px);
  margin-left: rem(45px);
}
.preview__pic{
  min-width: rem(254px);
}

.preview__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: rem(20px);
  font-weight: normal;
}

.preview__desc-title {
  font-size: rem(30px);
  font-weight: 500;
  margin-bottom: rem(20px);
}

.preview__desc-text {
  width: 70%;
  margin-bottom: rem(20px);
  line-height: 1.3;
  font-size: rem(18px);
}

.preview__desc-username {
  font-size: rem(18px);
}