.preview {
    justify-content: flex-start;
}
.preview__picture_position_absolut_strwberry {
    position: absolute;
    right:0;
}
.preview__picture_position_absolut_berry {
    position: absolute;
    bottom: 0;
}

.preview .review {
    display: flex;
    // background: url('./img/reviewbackground.jpg');
    // background-repeat: no-repeat;
    background-color: #f8faf9;
    width: 100%;
    align-items: center;
    margin:2rem 0;

    @include tablets {
        flex-direction: column;
      }

}
.preview .preview__picture_position_absolut_branch {
    position: absolute;
    right:2rem;
}
.review {
    padding: 2rem auto;
}

.review__pic {
    padding:2rem 2rem;
}
.review__description {
    padding-left: 20px;
    font-family: "Alegreya Sans";
    @include tablets {
        text-align: center;
      }
}
.review-desc {
    color: #323232;
    font-size: 30px;
    font-weight: 500;
}
.review-text {
    width: 60%;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    @include tablets {
        width: 100%;
      }
}
.review-signature {
    margin-top: 2%;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
}
.preview__photo {
 display: flex;
 justify-content: center;
}
.preview__avatar {
    margin-right: 3%;

    &:last-child {
        margin-right: 0;
    }
}
.border {
    width: 94px;
    height: 94px;
    border: 6px solid #0f5a47;
    border-radius: 50%;
    overflow: hidden;
}