.special {
    position: relative;
    margin-top: 4rem;
}
.special-list {
    display: flex;
    justify-content: flex-start;
}
.special-item {
    padding-right: rem(20px);
    display: flex;
}
.special-text {
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: rem(16px);
    font-weight: 400;
}
.special-img {
    width: rem(50px);
    height: rem(40px);

    &:last-child {
        padding-right: none;
    }
    
    @include tablets {
        padding-right: 2em;
    }
}


