.team {
    position: relative;
}
.team-acco {
    display: flex;
    justify-content: space-between;

    @include tablets {
        padding-bottom: rem(20px);
    }
}

.team-acco__item {

    &.active {

	    .team-acco__trigger {
		    color: #000000;
        
            &:before {
                transform: rotate(-180deg);
            }
        }
    }
}

.team-acco__name {
    color: #323232;
    font-size: 1.3125rem;
    font-weight: 500;
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
.team-acco__name:after {
    content: "";
    border: 5px solid transparent;
    border-top: 7px solid #0f5a47;
    position: absolute;
    right: -16px;
    top: 11px;
}

.team-acco__desc {
    display: none;

    @include tablets {
    display: inline;
    }
}