.team {
    position: relative;

}
.container-team {
  @include tablets {
    margin-top: 5em;
}
}
.team-acco {
    display: flex;
    justify-content: space-between;
    margin-top: rem(50px);

    @include tablets {
        padding-bottom: rem(20px);
        flex-flow: row wrap;
    }
}

.team-acco__item {
  @include tablets {
    flex-flow: row wrap;
      height: 50%;
      width: 50%;
}
}
.team__photo {
  @include tablets {
    padding: 0 1rem;
}
}
.team-acco__item:nth-child(2n) {
padding-top: rem(50px);
@include tablets {
  padding-top:inherit;
}


}
.team-acco__name {
    color: #323232;
    font-size: 1.3125rem;
    font-weight: 500;
    position: relative;
    margin: 1rem auto;
    width: fit-content;
    text-decoration: none;
  }
  
.team-acco__name:after {
    content: "";
    border: rem(5px) solid transparent;
    border-top: rem(7px) solid #0f5a47;
    position: absolute;
    right: - rem(16px);
    top: rem(11px);

    &:hover {
        content: "";
        border: rem(5px) solid transparent;
        border-bottom: rem(7px) solid #0f5a47;
        position: absolute;
        right:- rem(16px);
        bottom: 0;
    }
}
  
.team-acco__desc {
  display: none;
  text-align: center;
}
.team-acco__item:hover .team-acco__desc {
    display: block;
}

.team-acco__title {
    color: #281e1e;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.3125rem;
  }
  
  .team-acco__text {
    color: #666666;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
  }
