.choice {
    position: relative;
}
.container-choice {
    width: 1032px;
    height: 655px;
    opacity: 0.8;
    background: url('./img/keksiki.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}