.menu__list {
    display: flex;
    font-family: "AlegreyaSans-Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.menu__item {
    padding-right: 45px;
}
.menu__link {
    color:#ffffff;
}