.pretty {
    position: relative;
    justify-content: flex-start;
    margin-top: 5%;
    /*background: url("./img/featurespic.png");
    background-repeat: no-repeat;
    background-position: left center;*/
}
.pretty__picture_position_absolut {
    width: 100%;
    position: absolute;
    center: -4rem;
    text-align: left;
}
.container-pretty {
    content: "";
}
.pretty-text {
    text-align: center;
    margin-bottom: 5%;
    color: #666666;
    font-family: "AlegreyaSans-Black";
    font-size: 18px;
    font-weight: 500;
}
.pretty__list {
    display: flex;
    align-items: center;
}

.pretty__item {
    flex: 1;
    
    &:last-child {
        margin-right: 0;
    }
}