.special {
    position: relative;
    margin-top: 70px;
}
.special-list {
    display: flex;
    justify-content: flex-start;
}
.special-item {
    padding-right: 20px;
    display: flex;
}
.special-text {
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: 16px;
    font-weight: 400;
}
.special-img {
    padding-right: 100px;
}
.list {
    width: 44px;
    height: 41px;
    background-image: url('./img/icon1.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.car {
    width: 50px;
    height: 40px;
    background-image: url('./img/icon2.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.body {
    width: 42px;
    height: 42px;
    background-image: url('./img/icon3.png');
    background-position: center center;
    background-repeat: no-repeat;
}

