.menu__list {
    display: flex;
    font-family: "Alegreya Sans";
    font-weight: 400;

    @include tablets {
        display: none;
    }
}
.menu__item {
    padding-right: 1.8rem;
}
.menu__link {
    color:#ffffff;
    text-decoration:none;
}